body {
  background-color: slategray;
  font-size: 30px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  border: 2px solid black;
}

.gameboard > .cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;

  height: 200px;

  font-size: 3rem;
}

.cell > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell > .position {
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.cell > .id {
  font-size: 1.5rem;
  color: rgb(35, 68, 255);
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5px;
}

.cell > .left {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.cell > .right {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.cell > .bottom {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gameboard > .player {
  background-color: rgb(202, 252, 235);
}

.gameboard > .opponent {
  background-color: rgb(255, 216, 216);
}
